VITE_SUPABASE_URL="https://hylfhfwrkgnnzwyhpwee.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh5bGZoZndya2dubnp3eWhwd2VlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYxNzEzNjgsImV4cCI6MjEwMTc0NzM2OH0.Q8kpAZ1kdoNLuCDVlPtU2q0PtpgcV5D8WiCQACWwsL4"